/*contenedorJuego*/
#contenedorJuego {
	border: 2px solid black;
	padding: 2%;
}

/*contenedorNina*/
#contenedorNina{
	background-color: #F5D1D1;
	padding-left: 5%;
	width: 25%;
}
.displayIb {
	display: inline-block;
}
#contenedorFondos {
	display: inline-block;
	width: 5%;
}

.fondos {
	display: block;
	width: 125%;
}
